<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1> Eat-Da-Burger! </h1>
		</div>
		</div>
	</div>
</div>
//instert all info to create burger/devour/and post to the other side of the page
			<p>Tell me a burger you want to eat and submit!</p>
		</div>
	</div>
</div>
